body{
    background: orange;
}

.form-container input { 
    font-weight: bold; 
    display: block; 
    margin: 10px 0 5px; 
}

input { 
    width: 50%; 
    padding: 8px; 
    margin-bottom: 15px; 
    border-radius: 5px; 
    border: 1px solid #ccc; 
}

input:hover {
    background: #C2A68C;
}

.btn{
    display: block;
    margin: 20px 0 5px 10px;
    cursor: pointer;
}

.btn:hover {
    background: #FFECC0;
}